@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario:  #22D4FD;
    --color-hover: #272727;
    --fuente-monserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0 0 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-monserrat);
    font-size: 36px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-terciario);
    
}
.presentacion{
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-family: var(--fuente-krona);
    font-size: 36px;
}

.titulo-destaque{
    color: var(--color-terciario);
}
.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-monserrat);
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__links{
    width: 378px;
    text-align: center;
    padding: 21.5px 0px;
    font-family: var(--fuente-monserrat);
    font-size: 24px;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 16px;
}

.presentacion__enlaces__links:hover{
    background-color: var(--color-hover);

}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    font-family: var(--fuente-monserrat);
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    color: var(--color-primario);
}